<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <a href="/registro">Registrate</a>    
    <a href="/login">login</a>
    <form action = "/logout" method = "POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type = "submit">Cerrar sesion</botton>
    </form>      
</body>
</html>